<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <h1>Add New Message</h1>
        <form method="POST" action="/new">
            <label for="message">Message:</label>
            <input type="text" name="message">
            <label for="username">Username:</label>
            <input type="text" name="username">
            <input id="submit" type="submit" value="submit">
        </form>
    </body>
</html>