<form method="POST" action="/new">
    <label for="message">Message:</label>
    <input type="text" name="message">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <input type="submit" value="submit">
</form>